.navbar-brand > img {
    height: 28px;
}

.dropdown-item {
    font-size: 1.3rem;
    color: #808080 !important;
}

.dropdown-item:hover {
    color: white !important;
}

.menu-link {
    text-decoration: none;
}

.navbar-toggler {
    border: none;
}
    
code {
    display: block;
    padding: 8px 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dbdbdb;
    word-break: break-all;
}

#wrapper-footer {
	display: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-smooth: always;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}
    
#article {
    margin-top: 50px;
    min-height: 500px;
}
    
#article {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
    
#article img {
  max-width: 100%;
  height: auto;
  border: 1px solid #dbdbdb;
  margin-top: 1rem;
  margin-bottom: 1rem;    
}
    
#auth {
    float: right;
}