{% set version = '0.0.24' %}

<!doctype html>
<html lang="en">
  <head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    {% include "components/nav.html" %}  
      
    <div class="container" id="article">    
    {% block container %}{% endblock %}
    </div>

    {% include "components/footer.html" %}
    {% block foot %}
    {% endblock %}
  </body>
</html>