{% extends 'base.html' %} 
{% block container %}
<div class="container">
    <div id="userMenu" class="userMenu mr-3 mt-1" style="float:right; font-size: 1.3rem;"> 
        <!-- static/js/authHead.js will fill this with the loggedInState or loggedOutState -->
    </div>
</div>

<h1>User Profile:</h1>

<p></p>
</br></br>
<label for="color">Favorite color:</label>
<input style="width:100%" class="userFormElement" id="color" 
       placeholder="Favorite Color" />
</br></br></br></br>
<p>If you have followed the authentication instructions in the README and are logged in, your form values will be stored in your profile and you can update them here at any time.</p>

<div style="height:500px;"></div>

{% endblock %}