<!--START FOOTER-->
<div class="wrapper py-3 mt-5 bg-light" id="wrapper-footer-full"> 
  <div class="container" id="footer-full-content" tabindex="-1">
    <div class="row">
      <div id="custom_html-5" class="widget_text footer-widget widget_custom_html 
                                   widget-count-1 col-md-12">
        <div class="textwidget custom-html-widget">© {{ strftime(now, '%Y') }}, You ;)
        </div>
      </div>
    </div>
  </div>
</div> <!--END FOOTER-->

<!-- jQuery 3.6.3 + jQuery UI 1.13.2 -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

<!-- Bootstrap js should match Bootstrap css in head.html -->
<!-- Included in bundle is Popper 2.11.6 for dropdowns, popovers and tooltips -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!-- Custom Auth Foot JS + version number defined in templates/base.html -->
<script src="{{ url_for('static', filename='js/authFoot.js') }}?v={{ version }}" id="authHead"></script>