<!-- components/head.html -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS 5.2.3 (upgrade with BS js & popper js -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<!-- jQuery UI has a bunch of styles, but probably redundant anyway 
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
-->

<!-- Font Awesome 5.4.1 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<!-- From CDN: https://cdnjs.com/libraries/hellojs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hellojs/1.19.5/hello.all.js" integrity="sha512-jG9SUAx4QNMQLA/PHwGQpbi+2/pA2rxmfb61MCFnNCT5KxnW2ijrOGhSAZqDOHjfgCo0dmtvw+/5gw4aye7Ocw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
const googleClientId = "{{ env.GOOGLE_CLIENT_ID }}"; // your client ID, pulled from .env
</script>

<!-- Custom Auth Head JS + version number defined in templates/base.html -->
<script src="{{ url_for('static', filename='js/authHead.js') }}?v={{ version }}" id="authHead"></script>

    <!-- custom CSS + version number defined in templates/base.html -->
    <link rel='stylesheet' id='custom.css'  href="{{ url_for('static', filename='css/custom.css') }}?v={{ version }}" media='all' />

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="64x64" />