<!-- components/nav.html -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" 
           class="d-inline-block m-2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      {% for route in routes %}
        <li class="nav-item me-3">
            <a title="{{ route.endpoint }}" href="{{ url_for(route.endpoint) }}" 
               class="dropdown-item">
                {{ route.endpoint }}
            </a>
        </li>    
      {% endfor %} 
      </ul>
    </div>
  </div>  
</nav>